{% extends 'templates/app.twig' %}
{% block title %}New Applicant{% endblock %}
{% block contents %}
<section class="content" xmlns="http://www.w3.org/1999/html">
        <div class="raw">
            <div class="register-logo">
                <a href="{{ base_url() }}"><b>MENA</b> Assistance</a>
            </div>
            <div class="register-box-body">
                <p class="login-box-msg">Register a new Applicant</p>

                <form action="{{ path_for('auth.new.applicant') }}" method="post" autocomplete="on" enctype="multipart/form-data" >



                    <div class="form-group has-feedback{{ errors.first_name ? ' has-error' : '' }}">
                        <label for="first_name">First Name: &nbsp;</label>
                        <input type="text" name="first_name" id="first_name" class="form-control" value="{{ old.first_name }}" placeholder="Applicant's First Name"/>
                        <span class="glyphicon glyphicon-user form-control-feedback"></span>
                        {% if errors.first_name %}
                            <span class="help-block">{{ errors.first_name | first }}</span>
                        {% endif %}
                    </div>

                    <div class="form-group has-feedback{{ errors.last_name ? ' has-error' : '' }}">
                        <label for="last_name">Last Name: &nbsp;</label>
                        <input type="text" name="last_name" id="last_name" class="form-control" value="{{ old.last_name }}" placeholder="Applicant's Last Name"/>
                        <span class="glyphicon glyphicon-user form-control-feedback"></span>
                        {% if errors.last_name %}
                            <span class="help-block">{{ errors.last_name | first }}</span>
                        {% endif %}
                    </div>

                    <div class="form-group has-feedback{{ errors.per_email ? ' has-error' : '' }}">
                        <label for="per_email">Personal Email: &nbsp;</label>
                        <input type="email" name="per_email" id="per_email" placeholder="applicant@domain.com" class="form-control" value="{{ old.per_email }}"/>
                        <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
                        {% if errors.per_email %}
                            <span class="help-block">{{ errors.per_email | first }}</span>
                        {% endif %}
                    </div>

                    <div class="form-group has-feedback{{ errors.mobile_phone ? ' has-error' : '' }}">
                        <label for="mobile_phone">Mobile Phone Number: </label>
                        <input type="tel" name="mobile_phone" id="mobile_phone" placeholder="+971 50 000 0000" class="form-control" value="{{ old.mobile_phone }}"/>
                        <span class="glyphicon glyphicon-phone form-control-feedback"></span>
                        {% if errors.mobile_phone %}
                            <span class="help-block">{{ errors.mobile_phone | first }}</span>
                        {% endif %}
                    </div>

                    <div class="form-group has-feedback{{ errors.gender ? ' has-error' : '' }}">
                        <label for="male">Gender: &nbsp; &nbsp;</label>
                            <input type="radio" name="gender" id="male" value="M" {% if old.gender == 'M' %}checked="checked"{% endif %}/>
                            <span class="fa fa-male"> Male &nbsp; &nbsp;</span>
                            <input type="radio" name="gender" id="female" value="F" {% if old.gender == 'F' %}checked="checked"{% endif %}/>
                            <span class="fa fa-female"> Female</span>
                        {% if errors.gender %}
                            <span class="help-block">{{ errors.gender | first }}</span>
                        {% endif %}
                    </div>

                    <div class="form-group has-feedback{{ errors.nationality ? ' has-error' : '' }}">
                        <label for="nationality">Nationality: </label>
                        <select class="form-control" name="nationality" id="nationality">
                            <option value="0">Please Select ... </option>
                            {% for country in auth.countries %}
                                <option value="{{ country.id }}" {% if country.id == old.nationality %}selected{% endif %}>{{ country.country_name | e }}</option>
                            {% endfor %}
                        </select>
                        {% if errors.nationality %}
                            <span class="help-block">{{ errors.nationality | first }}</span>
                        {% endif %}
                    </div>

                    <div class="form-group has-feedback{{ errors.dob ? ' has-error' : '' }}">
                        <label for="date-picker">Date of Birth: </label>
                        <div class="input-group date">
                            <div class="input-group-addon">
                                <i class="fa fa-calendar"></i>
                            </div>
                            <input type="date" class="form-control pull-right" name="dob" id="date-picker" value="{{ old.dob }}">
                        </div>
                        {% if errors.dob %}
                            <span class="help-block">{{ errors.dob | first }}</span>
                        {% endif %}
                    </div>

                    <div class="form-group has-feedback{{ errors.profilepic ? ' has-error' : '' }}">
                        <label for="profilePic">Photo:</label>
                        <input type="file" id="profilePic" name="profilepic" value="{{ old.profilepic }}">
                        <p class="help-block"><small><i>File must be *.jpg, *.jpeg, *.png, *.gif, or *.bmb and < 3MBs</i></small></p>
                        {% if errors.profilepic %}
                            <span class="help-block">{{ errors.profilepic | first }}</span>
                        {% endif %}
                    </div>

                    <div id="newAttachment" class="form-group has-feedback{{ errors.attachment ? ' has-error' : '' }}">
                        <label for="help-me">Attachments:</label>
                        <p class="help-block" id="help-me"><span><i>Attach CV, Passport Copy, VISA Copy, Educational Degree, or any other related documents<br/><span class="alert-warning">Remember to rename the files respectively!!!</span></i></span></p>
                        <div class="input-group" id="attachmentGroup">
                            <label for="attachment">File: &nbsp;</label>
                            <input type="file" id="attachment" name="attachment[]" value="{{ old.attachment }}"> &nbsp;
                            <label for="attachmentCountry">Issuance Country: &nbsp;</label>
                            <select name="attachmentCountry[]" id="attachmentCountry">
                                <option value="0">Please Select ... </option>
                                {% for country in auth.countries %}
                                    <option value="{{ country.id }}" {% if country.id == old.attachmentCountry %}selected{% endif %}>{{ country.country_name | e }}</option>
                                {% endfor %}
                            </select><br/>
                            <label for="attachmentType">Type: &nbsp;</label>
                            <input id="attachmentType" name="attachmentType[]" type="text">
                            <label for="attachmentIssuer">Issued By: &nbsp;</label>
                            <input type="text" id="attachmentIssuer" name="attachmentIssuer[]"> &nbsp;
                            <label for="attachmentIssueDate">Issue Date: &nbsp;</label>
                            <input type="date" id="attachmentIssueDate" name="attachmentIssueDate[]" value="1999-12-31"> &nbsp;
                            <label for="attachmentExpiryDate">Expiry Date: &nbsp;</label>
                            <input type="date" id="attachmentExpiryDate" name="attachmentExpiryDate[]" value="2099-12-31"> &nbsp;
                        </div>
                        {% if errors.attachment %}
                            <span class="help-block">{{ errors.attachment | first }}</span>
                        {% endif %}
                        <input type="button" id="add" class="btn btn-xs" onclick="addInput('#attachmentGroup')" value="Add New" title="Add new attachment field"/>
                        <input type="button" id="remove" class="btn btn-xs btn-danger" onclick="removeInput(this)" value="Remove" title="Removes the last item"/>
                    </div>

                    <div class="form-group has-feedback{{ errors.source ? ' has-error' : '' }}">
                        <label for="source">Application Source:  &nbsp;</label>
                        <p class="help-block"><small><i>How did the applicant hear about us</i></small></p>
                        <select class="form-control" name="source" id="source">
                            <option value="HR Agency" selected>HR Agency</option>
                            <option value="Search Engine" {% if old.source == 'Search Engine' %}selected{% endif %}>Search Engine</option>
                            <option value="Friend or Colleague" {% if old.source == 'Friend' %}selected{% endif %}>Friend</option>
                            <option value="Other" {% if old.source == 'Other' %}selected{% endif %}>Other</option>
                            <option value="No Answer" {% if old.source == 'No Answer' %}selected{% endif %}>No Answer</option>
                        </select>
                        {% if errors.source %}
                            <span class="help-block">{{ errors.source | first }}</span>
                        {% endif %}
                    </div>

                    <button type="submit" name="submit" id="submit"class="btn btn-default">Register New Applicant</button>
                    {{ csrf.field | raw }}
                </form>
            </div>
        </div>
{% endblock %}
