{% for city in auth.cities %}
    <option id="{{ city.id }}">{{ city.city_name | e }}</option>
{% endfor %}
<cities>
    {% for city in auth.cities %}
        <city>
            <id>
                {{ city.id }}
            </id>
            <state_id>
                {{ city.state_id }}
            </state_id>
            <city_name>
                {{ city.city_name | e }}
            </city_name>
        </city>
    {% endfor %}
</cities>
