<aside class="main-sidebar">

    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">

        <!-- Sidebar user panel (optional) -->
        <div class="user-panel">
            <div class="pull-left image">
                <img src="{{ base_url() }}{{ auth.userMaster.prof_pic }}" class="img-circle" alt="User Image">
            </div>
            <div class="pull-left info">
                <p>{{ auth.userMaster.first_name }} {{ auth.userMaster.last_name }}</p>
                <!-- Status -->
                <a href="#"><i class="fa fa-circle text-success"></i> Online</a>
            </div>
        </div>

        <!-- search form (Optional) -->
        <form action="#" method="get" class="sidebar-form">
            <div class="input-group">
                <input type="text" name="q" class="form-control" placeholder="Search...">
              <span class="input-group-btn">
                <button type="submit" name="search" id="search-btn" class="btn btn-flat"><i class="fa fa-search"></i>
                </button>
              </span>
            </div>
        </form>
        <!-- /.search form -->

        <!-- Sidebar Menu -->
        <ul class="sidebar-menu">
            <li class="header">MENA Assistance</li>
            <!-- Optionally, you can add icons to the links -->
            <li class="treeview">
                <a href="{{ path_for('HR.Home')}}">
                    <i class="fa fa-link"></i>
                    &nbsp;<span>Human Resources</span>
                    <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>
                <ul class="treeview-menu">
                    <li class="treeview">
                        <a href="{{ path_for('HR.AllApplicants') }}">
                            <i class="fa fa-link"></i>
                            &nbsp;<span>Applicants</span>
                            <span class="pull-right-container">
                                <i class="fa fa-angle-left pull-right"></i>
                            </span>
                        </a>
                        <ul class="treeview-menu">
                            <li></li>
                            <li></li>
                        </ul>
                    </li>
                    <li class="treeview">
                        <a href="{{ path_for('HR.AllEmployees') }}">
                            <i class="fa fa-link"></i>
                            &nbsp;<span>Employees</span>
                            <span class="pull-right-container">
                                <i class="fa fa-angle-left pull-right"></i>
                            </span>
                        </a>
                        <ul class="treeview-menu">
                            <li></li>
                            <li></li>
                        </ul>
                    </li>
                    <li class="treeview">
                        <a href="{{ path_for('HR.AllUsers') }}">
                            <i class="fa fa-link"></i>
                            &nbsp;<span>Users</span>
                            <span class="pull-right-container">
                                <i class="fa fa-angle-left pull-right"></i>
                            </span>
                        </a>
                        <ul class="treeview-menu">
                            <li></li>
                            <li></li>
                        </ul>
                    </li>
                    <li><a href="{{ path_for('HR.AllDepartments') }}"><i class="fa fa-link"></i> Departments</a></li>
                    <li class="treeview">
                        <a href="{{ path_for('HR.AllInterviews') }}">
                            <i class="fa fa-link"></i>
                            &nbsp;<span>Interviews</span>
                            <span class="pull-right-container">
                                <i class="fa fa-angle-left pull-right"></i>
                            </span>
                        </a>
                        <ul class="treeview-menu">
                            <li></li>
                            <li></li>
                        </ul>
                    </li>
                    <li class="treeview">
                        <a href="{{ path_for('HR.Miscellaneous') }}">
                            <i class="fa fa-link"></i>
                            &nbsp;<span>Miscellaneous</span>
                            <span class="pull-right-container">
                                <i class="fa fa-angle-left pull-right"></i>
                            </span>
                        </a>
                        <ul class="treeview-menu">
                            <li></li>
                            <li></li>
                        </ul>
                    </li>

                </ul>
            </li>
            <li><a href="#"><i class="fa fa-link"></i> <span>Another Link</span></a></li>
            <li class="treeview">
                <a href="#">
                    <i class="fa fa-link"></i>
                    &nbsp;<span>Operations</span>
                    <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>
                <ul class="treeview-menu">
                    <li><a href="#">MENA Guidelines</a></li>
                    <li><a href="#">Vehicle Maintenance Tracker</a></li>
                </ul>
            </li>
        </ul>
        <!-- /.sidebar-menu -->
    </section>
    <!-- /.sidebar -->
</aside>
